#accordion{
    font-size: 16px;
}

.bCat {
    text-decoration: none;
    color: darkred;
    font-size: 14px;
}

.bCat:hover{
    text-decoration: none;
    color: white;
    background-color: darkred;
    
}

table{
    width: 100%;
    
}

.DC{
    width: 100%;
    text-align: left;
    margin: 10px 0 10px;
    /* background-color: aqua; */
}

tr,td,th{
    border-color: darkred;
    border: 1px  darkred solid ;
    border-radius: 5px;

    padding: 10px;
}
#arrow{
    color: white;
}
form{ 
    font-size: 16px;
    background-color: darkred;
    opacity: 80%;
    color: white;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    width: 80%;
    padding: 20px 0 20px;
    margin: auto;
}
input{
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    color: darkred;
    background-color: white;
    height: 18px;
    /* width: 40%; */

}
input:focus{
    border: 0;
    border-radius: 5px;
    color: darkred;
    outline-color: darkred;

}




/* 重複使用 */
.container {
    display: flex;
    width: 100%;
    height: fit-content;
}

#leftBlock {
    flex: 1;
    display: block;
    /* background-color: lightgrey; */

}

#rightBlock {
    flex: 1;
    display: block;
    /* background-color: lightgrey; */

}

#centerBlock {
    flex: 2;
    display: block;
    padding: 50px;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
    /* border: 1px solid lightgray; */
    height: fit-content;

}

#Block {
    /* background-color: blue;  */
    border: 1px darkred solid;
    border-radius: 5px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 10px;

    padding: 50px 50px 50px;

}

.half {
    display: flex;
    width: 100%;
    padding: 0;
}

.fa-facebook:hover {
    color: white;
}

#pageBottom>a {
    color: darkred;
    text-decoration: none;
}


#pageBottom>a:hover {
    background-color: darkred;
    color: white;
}

#pageBottom {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    bottom: 0;
}
